PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/neurawatch
JWT_SECRET=replace_with_secure_secret

VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000